
form{ 
    border-radius: 5%;
    padding: 2% 2%;
    margin:auto;
    width : 60%;
}
form>input{
    border: 1px solid gainsboro;
    border-radius: 4px;
    width: 400px;
    padding: 2% 3%;
    margin-bottom: 0%;
}
.err-con{
    margin-bottom: 20px;
    padding-bottom: 2%;
}
.error-msg{
    color: red;
    font-size: 15px;
    padding-top: 6px;
    padding-left: 2px;
    float: left;
}
.success-msg{
    width:100%;
    height:40px;
    border : 2px solid rgb(145, 237, 253);
    border-radius: 4px;
    text-align : center;
    padding-top: 2%;
}