<div class="success-msg" *ngIf="this.successMsg!=null">
    {{this.successMsg}}<button (click)="this.closeSuccessMsg()">x</button>
</div>
<div class="container">
    <form (ngSubmit)="onSubmit()">
        Id <br>
        <input type="text" [(ngModel)]="this.entry.id" 
               name="id" disabled><br><br>
       
        First name <br>
        <input type="text" [(ngModel)]="this.entry.firstName" 
               name="firstName" (click)="this.toggleShow('firstName')">
        <div class="err-con" [style.display]="this.toggle.firstName ? 'block' : 'none'" 
            *ngIf="this.validationErrors !== undefined && this.validationErrors['firstName'] !== undefined">
            
            <div class="error-msg" *ngFor = "let error of this.validationErrors['firstName']">
                {{error.defaultMessage}}.
            </div>

        </div>              
        <br><br>
        

        Last name<br>
        <input type="text" [(ngModel)]="this.entry.lastName" 
               name="lastName" (click)="this.toggleShow('lastName')">
        <div class="err-con" [style.display]="this.toggle.lastName ? 'block' : 'none'"
                *ngIf = "this.validationErrors !== undefined && this.validationErrors['lastName'] !== undefined">
            
            <div class="error-msg" *ngFor = "let error of this.validationErrors['lastName']">
                {{error.defaultMessage}}.
            </div>

        </div><br><br>               



        E-mail id <br>
        <input type="text" [(ngModel)]="this.entry.emailId" 
               name="lastName" (click)="this.toggleShow('emailId')">
        <div class="err-con" [style.display]="this.toggle.emailId ? 'block' : 'none'" 
                *ngIf = "this.validationErrors !== undefined && this.validationErrors['emailId'] !== undefined">
            
            <div class="error-msg" *ngFor = "let error of this.validationErrors['emailId']">
                {{error.defaultMessage}}.
            </div>

        </div><br><br>



        Phone number<br>
        <input type="text" [(ngModel)]="this.entry.userContact.phoneNumber" 
               name="phoneNumber" (click)="this.toggleShow('userContact.phoneNumber')">
        <div class="err-con" [style.display]="this.toggle.userContact.phoneNumber ? 'block' : 'none'" 
                *ngIf = "this.validationErrors !== undefined && this.validationErrors['userContact.phoneNumber'] !== undefined">
            
            <div class="error-msg" *ngFor = "let error of this.validationErrors['userContact.phoneNumber']">
                {{error.defaultMessage}}.
            </div>

        </div><br><br>



        Alternate Phone number<br>
        <input type="text" [(ngModel)]="this.entry.userContact.alternateNumber" 
               name="alternateNumber" (click)="this.toggleShow('userContact.alternateNumber')">
        <div class="err-con" [style.display]="this.toggle.userContact.alternateNumber ? 'block' : 'none'" 
                *ngIf = "this.validationErrors !== undefined && this.validationErrors['userContact.alternateNumber'] !== undefined">
            
            <div class="error-msg" *ngFor = "let error of this.validationErrors['userContact.alternateNumber']">
                {{error.defaultMessage}}.
            </div>

        </div><br><br>

        <input type="submit" value="Add"><br>
    </form>

</div>
