table>tr>th{
    background-color: rgb(124, 222, 240);
}
table>tr>td,table>tr>th{
    padding: 2% 1% 2% 1%;
    width : 140px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: rgb(145, 237, 253);
}

.delete-msg{
    width:100%;
    height:40px;
    border : 2px solid rgb(145, 237, 253);
    border-radius: 4px;
    text-align : center;
    padding-top: 2%;
}
.edit-btn{
    padding: 1% 15% 1% 2%;
    text-decoration: none;
}