<div class="delete-msg" *ngIf="this.deleteMsg!=null">
    {{this.deleteMsg}}<button (click)="this.closeDeleteMsg()">x</button>
</div>

<table>
    <tr>
        <th>Id</th>    
        <th>First Name</th>    
        <th>Last Name</th>    
        <th>Email Id</th>    
        <th>Phone Number</th>    
        <th>Alternate Number</th>
        <th>Operations</th>
    </tr>
<tr *ngFor= "let entry of this.entries">
    <td>{{ entry.id }}</td>
    <td>{{ entry.firstName }}</td>
    <td>{{ entry.lastName }}</td>
    <td>{{ entry.emailId }}</td>
    <td>{{ entry.userContact.phoneNumber }}</td>
    <td>{{ entry.userContact.alternateNumber }}</td>
    <td>
        <a class="edit-btn" [routerLink]= "['/add', entry.id]">Edit</a>
        <button (click) = "this.deleteEntryById(entry.id)">Delete</button>
    </td>
</tr>
</table>

