.header{
    text-align : center;
    margin: 2%;
}

nav{
    margin : 0% 30% 0% 20%;
}
nav>a{
    padding: 2% 10% 2% 10%;
    margin: 0% 1% 0% 1%;
    border: 2px solid none;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    background-color: rgb(85, 207, 255);
}
.router-con{
    width : 60%;
    margin: 1% 20.5%;
    border: 1.5px solid rgb(85, 207, 255);
    height : 700px;
    padding: 2% 5%;
}